%h1 Listing entries

%table
  %thead
    %tr
      %th Comment
      %th Type
      %th Finished at
      %th
      %th
      %th

  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.comment
        %td= entry.type
        %td= entry.finished_at
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path
