.accordion{ "data-accordion": true, "data-multi-expand": "true" }
  .accordion-item.is-active{ "data-accordion-item": true }
    %a.accordion-title Working Status
    .accordion-content{ "data-tab-content": true }
      - user = User.find(current_user["id"])
      - if user.working?
        %h2 You're working!
        .callout
          - last_work = user.last_work
          %h5= last_work.comment
          %h5= last_work.category
          -# Buna bir el at bakam
          = form_with url: "/entries/finish" do |form|
            = form.submit "End working", class: "button"
      - else
        %h2 You're not working now!
        #links
          = link_to "Start working", new_entry_path
        %blockquote
          “Stillness, the ruler of movement.”
          %cite Lao Tzu, Tao Te Ching
  .accordion-item{ "data-accordion-item": true }
    %a.accordion-title Recent Entries
    .accordion-content{ "data-tab-content": true }
      = render "lister", entries: @entries, pagy: @pagy, admin: false
