%p#notice= notice

.callout
  %p
    %b Comment:
    = @entry.comment
  %p
    %b Type:
    = @entry.category
  %p
    %b Finished at:
    = @entry.finished_at
  
  = link_to 'Edit', edit_entry_path(@entry)
  \|
  = link_to 'Back', entries_path
